@charset "utf-8"; 
@font-face {
  font-family: 'qfont';
  src: url('./font/Qfont.ttf');
}
* {
  font-family: "qfont";
}
body {
  margin:0;padding:0;
  line-height:1.5em; 
  font-size: 50px;
}
body, html {
  width: 100%;
  overflow: hidden;
  height: auto;
  font-size: 50px;
}
.iconfont {
  font-size: 20px;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between ;
  align-items: center;
} 
.evenly{
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
}
.ellipsis { 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.ellipsis_2 { 
  overflow: hidden;
  text-overflow: ellipsis; 
  display:-webkit-box; 
  -webkit-box-orient:vertical; 
  -webkit-line-clamp:2; 
} 

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.text-center{
  text-align: center;
}

