@charset "utf-8"; 
body {
  margin:0;padding:0;
  line-height:1.5em;
  font-family:"Times New Roman",Times,serif;
  font-size: 50px;
}
body, html {
  width: 100%;
  overflow: hidden;
  height: auto;
  font-size: 50px;
}
.iconfont {
  font-size: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: flex-end;
  align-items: center;
}

.start {
  justify-content: flex-start;
  align-items: flex-start;
}

.between {
  justify-content: space-between;
  align-items: center;
} 

.ellipsis { 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.ellipsis_2 { 
  overflow: hidden;
  text-overflow: ellipsis; 
  display:-webkit-box; 
  -webkit-box-orient:vertical; 
  -webkit-line-clamp:2; 
} 
  